<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/dashboardStyle.css">
    <link rel="stylesheet" href="../../static/hoverEffect.css">
</head>

<body>
    <!-- display messages -->
    {% for message in messages %}
    <div style="color: yellow; font-size: large; padding: auto; margin: 10px;" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
    </div>
    {% endfor %}

    <div class="positionContainer">
        <div class="center">
            <h1 class="project_name">Aqua Phishing</h1>

        </div>
    </div>

    {% if user.is_authenticated %}

    <div class="box">
        <button class="authBtn" style="color: black !important;"><a style="color: black !important;" href="/automaticMode">Automatic</a></button>
        <button class="authBtn" style="color: black !important;"><a style="color: black !important;" href="/manualMode">Manual</a></button>

    </div>

    <!-- Main module function:  Search feature -->
    <!-- <div class="box">
        <h1 style="margin-left: 2%;">Search</h1>
        <form action="/dashboard" method="post">
            {% csrf_token %}
            <input type="text" name="victim" placeholder="Enter the Victim's social ID">
            <input type="submit" name="" value="Go">

        </form>
    </div> -->

    <br>
    <!-- <div class="clonedSites" style="margin-left: 8px;">
        <h2 style="color: gold;">Cloned url for phishing:</h2>
        <ul>
            <li>
                <a href="/cloned/instagram">Instagram</a>
            </li>
            <li>
                <a href="/cloned/facebook">Facebook</a>
            </li>
            <li>
                <a href="/cloned/twitter">Twitter</a>
            </li>
        </ul>
    </div> -->
    <button class="authBtn" style="margin-left: 12px;" type="submit" value=""><a href="/signout">Signout</a></button>


    <!-- Below code is not reachable -->

    <span></span> {% else %}
    <div class="box">
        <button class="authBtn" type="submit" value=""><a href="/signup">Signup</a></button>
        <button class="authBtn" type="submit" value=""><a href="/signin">Signin</a></button>{% endif %}

    </div>




</body>

</html>