<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Facebook</title>
    <link rel="icon" href="../../../static/images/clonedLoginSitesImgs/facebookClonedImages/favicon.ico">
    <link rel="stylesheet" href="../../../static/clonedLoginSiteStyles/fbStyles.css">
</head>

<body>
    <!-- Header Area -->
    <header class="header_area">
        <div class="container">
            <div class="logo_area">
                <a href="#"><img src="../../../static/images/clonedLoginSitesImgs/facebookClonedImages/logo.png" alt="Facebook"></a>
            </div>
            <div class="login_area">
                <form action="#">
                    <div class="username_area">
                        <label for="username">Email or Phone</label>
                        <input type="text" id="username">

                    </div>
                    <div class="password_area">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                        <a href="#">Forgot your password?</a>
                    </div>
                    <div class="submit_area">
                        <input type="submit" value="Log In">
                    </div>
                </form>
            </div>
        </div>
    </header>

    <!-- Main Area -->
    <div class="main_area">
        <div class="container">
            <div class="img_area">

            </div>
            <div class="form_area">
                <h1>Create an account</h1>
                <!--<h3> It's quick and easy. </h3>-->
                <form action="#">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Sure Name">
                    <input type="text" placeholder="Email address or Phone number">
                    <input type="password" placeholder="New Password">
                    <h2 class="birthday">Birthday</h2>
                    <select name="" id="">
                            <option value="">Day</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                        </select>
                    <select name="" id="">
                            <option value="">Month</option>
                            <option value="">Jan</option>
                            <option value="">Feb</option>
                            <option value="">Mar</option>
                            <option value="">Apr</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">july</option>
                            <option value="">Aug</option>
                        </select>
                    <select name="" id="">
                            <option value="">Year</option>
                            <option value="">2020</option>
                            <option value="">2019</option>
                            <option value="">2018</option>
                            <option value="">2017</option>
                            <option value="">2016</option>
                            <option value="">2015</option>
                            <option value="">2014</option>
                            <option value="">2013</option>
                        </select>
                    <div class="gender_area">
                        <h2 class="gender">Gender</h2>
                        <input name="gender" type="radio" id="female">
                        <label for="female">Female</label>
                        <input name="gender" type="radio" id="male">
                        <label for="male">Male</label>
                        <input name="gender" type="radio" id="custom">
                        <label for="custom">Custom</label>
                    </div>
                    <div class="terms_policy">
                        <!--<p>By clicking Sign Up, you agree to our <a href="">Terms</a> , <a href="">Data Policy</a>  and <a href="">Cookie Policy</a> . You may receive SMS notifications from us and can opt out at any time.</p>-->
                    </div>
                    <input type="submit" value="Sign Up">
                </form>
                <div class="page_area">
                    <!--<p> <a href="">Create a Page</a>  for a celebrity, band or business.</p>-->
                </div>
            </div>
        </div>
    </div>


</body>

</html>