body {
    margin: 0;
    padding: 0;
    background: url(../static/images/bg.jpg);
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    margin: 0 0 10px;
    padding: 0;
    color: #ff5722;
    font-size: 24px;
}

.project_name {
    text-align: center;
    margin-top: 15% !important;
    font-size: xx-large !important;
    color: gold;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="text"] {
    /* background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px; */
}

.formInput {
    margin: 4px 75px;
    padding: 15px 25px;
    border-radius: 20px;
    outline: none;
    width: 340px;
    height: 50px;
}

.formButton {
    border-radius: 25px;
    margin-left: 75px;
    margin-top: 10px;
    font-size: large;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

.backBtn {
    border-radius: 25px;
    margin: 5px 15px;
    width: 60px;
    padding: 5px;
    height: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107 !important;
}

input[type="submit"] {
    position: relative;
    Left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

input[type="submit"]:hover {
    background: #ff5722;
}

.authBtn {
    position: relative;
    /* Left: -5px; */
    border-radius: 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
    text-decoration: none;
    font-size: medium;
    margin: 8px;
}

.positionContainer {
    position: relative;
    height: 200px;
    margin-top: auto;
    /*Higly coupled*/
}

.center {
    margin: 0px;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signInFormContainer {
    height: 600px !important;
}

a,
a:hover,
a:visited,
a:focus,
a:active,
a:link {
    text-emphasis: none;
    text-decoration: none;
    color: #fff;
}